@use "font/ubuntu";
@use "font/ubuntu-mono";
@use "font/ubuntu-condensed";

@use "variable/break";
@use "variable/palette";
@use "variable/size";

@use "element/a";
@use "element/article";
@use "element/body";
@use "element/code";
@use "element/html";
@use "element/main";
@use "element/pre";
@use "element/section";

@use "component/global-header";
@use "component/docs-search";
@use "component/docs-search-results";
@use "component/site-nav";

@use "page/index";

html {
	color: var(--pal-text);
	font-size: 18px;
}

*:not(pre,code) {
	font-family: "Ubuntu", sans-serif;
}

a {
	color: var(--pal-link);

	&:hover {
		color: var(--pal-link--hover);
	}
}

body>main>footer {
	padding: 2rem;
	background-color: var(--pal-sidebar);

	@media(min-width: break.$medium) {
		position: relative;
		padding: 4rem;
		container-type: inline-size;

		&::before {
			content: "";
			position: absolute;
			top: -1rem;
			left: 0;
			width: 1rem;
			height: 1rem;
			background-color: var(--pal-sidebar);
			mask-image: radial-gradient(circle at top right,
					transparent 0,
					transparent 1rem,
					black 1rem
			);
			mask-size: 100% 100%;
			mask-repeat: no-repeat;
		}

		&::after {
			--size: calc(50vw - 50cqw - (var(--size-content-width) / 4) + 1rem);
			content: "";
			position: absolute;
			right: calc(var(--size) * -1);
			top: 0;
			height: 100%;
			width: var(--size);
			background-color: var(--pal-sidebar);
		}
	}

	nav {
		ul {
			list-style-type: none;
			text-align: right;
			padding: 0;

			li {
				a {
					display: inline-block;
					padding: 0.5rem;

					&[href*="//"] {
						&::after {
							content: "";
							display: block;
							float: right;
							width: 1rem;
							margin-left: 0.5rem;
							margin-right: -1.5rem;
							aspect-ratio: 1;
							background-color: var(--pal-text);
							mask-image: url("/asset/icon/arrow-top-right-on-square.svg");
							mask-size: cover;
							mask-repeat: no-repeat;
							mask-position: 50%;
						}
					}
				}
			}
		}
	}
}
