@use "sass:math";
@use "../variable/break";

@property --border-effect-angle {
	syntax: "<angle>";
	inherits: false;
	initial-value: 0deg;
}

body.uri--index {
	article {
		position: relative;
		margin-top: 4rem;

		.intro {
			@media(min-width: break.$medium) {
				display: flow-root;
				width: calc(100vw - 22rem);
				max-width: 72rem;
				margin-top: -4rem;
			}

			p {
				@media(min-width: break.$medium) {
					max-width: 32rem;
					float: left;
					margin-right: 2rem;
					margin-top: 2rem;
				}
			}

			@keyframes border-effect {
				0% {
					--border-effect-angle: 0deg;
					opacity: 0;
				}
				50% {
					opacity: 1;
				}
				100% {
					--border-effect-angle: 360deg;
					opacity: 0;
				}
			}

			@keyframes slide-in {
				from {
					opacity: 0;
					translate: -1rem 0;
				}
			}

			blockquote {
				position: relative;
				display: inline-block;
				order: -1;
				margin: 0;
				margin-top: 2rem;
				margin-bottom: -4rem;
				padding: 0 1rem;
				border: 4px solid var(--pal-button);
				background-color: var(--pal-page);

				@media(min-width: break.$medium) {
					float: left;
					margin-bottom: 0;
				}

				&::before {
					content: "";
					position: absolute;
					inset: -4px;
					border: 4px solid transparent;
					border-image: conic-gradient(from var(--border-effect-angle),
						#f45b69,
						#ffd166,
						#06d6a0,
						#118ab2,
						#7b2cbf,
						#f45b69
					) 1;
					pointer-events: none;
					animation: border-effect 3s both ease-in-out;
				}

				ul {
					margin: 0;
					padding: 0;

					@media(min-width: break.$small) {
						padding: 1rem;
					}

					li {
						position: relative;
						display: flex;
						gap: 1rem;
						align-items: center;
						list-style: none;
						margin: 1rem 0;
						padding-left: 2.5rem;

						&::before {
							content: "";
							display: block;
							flex-shrink: 0;
							width: 2rem;
							height: 2rem;
							margin-left: -2.5rem;
							margin-top: -0.25rem;
							background-color: var(--pal-primary);
							mask-image: url("/asset/icon/arrow-right.svg");
							mask-repeat: no-repeat;
							mask-size: 100%;

							@media(min-width: break.$medium) {
								margin-top: -0.1rem;
							}
							@media(min-width: break.$large) {
								margin-top: 0;
							}
						}

						@for $i from 1 through 5 {
							&:nth-of-type(#{$i}) {
								&::before {
									filter: hue-rotate(($i) * 60deg) saturate(2);
								}

								animation: slide-in 0.5s 1 cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
								animation-delay: #{math.div($i - 1, 3)}s;
							}
						}
					}
				}
			}
		}

		.example {
			position: relative;

			#example-output {
				position: relative;
				max-width: 32rem;
				margin: 0 auto;
				border: 4px solid var(--pal-code-outline);
				border-radius: 1rem;
				padding-top: 2rem;

				@media(min-width: break.$large) {
					position: absolute;
					bottom: 12rem;
					right: -24rem;
				}

				&::before {
					content: "Example output";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					border-top-left-radius: 0.5rem;
					border-top-right-radius: 0.5rem;
					padding: 0.5rem;
					background-color: var(--pal-code-outline);
					color: var(--pal-page);
				}

				h1 {
					font-size: 2rem;
					margin: 1rem;

					span {
						display: inline-block;
					}
				}

				label {
					display: block;
					margin: 1rem;

					span {
						display: block;
					}
					input {
						font-size: 1.5rem;
					}
				}

				button {
					margin: 1rem;
					font-size: 1.5rem;
				}

			}
		}

		h1:first-of-type {
			margin-top: 8rem;
			font-size: 10vw;

			@media(min-width: break.$medium) {
				font-size: 5vw;
				margin-top: 4rem;
			}
			@media(min-width: break.$large) {
				font-size: 5rem;
			}

			@keyframes stretch-block {
				from {
					height: 0;
				}
			}

			a {
				display: none;
			}

			span {
				&:nth-of-type(1),
				&:nth-of-type(2),
				&:nth-of-type(3) {
					display: block;
				}

				&:nth-of-type(2)::before,
				&:nth-of-type(3)::after {
					content: "";
					display: inline-block;
					margin-right: 0.5rem;
					width: 3em;
					height: 1rem;
					background: var(--pal-link);
					animation: stretch-block 1s ease-in-out both;
				}

				&:nth-of-type(3)::after {
					width: 4em;
				}
			}
		}
	}
}
