@use "../variable/break";

body {
	margin: 0;
	overflow-x: hidden;
	height: 100%;

	&.scrolled {
		padding-top: var(--size-fixed-heading);

		@media(min-width: break.$medium) {
			padding-top: 0;
		}
	}

	@media(min-width: break.$medium) {
		max-width: 96rem;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		overflow-y: scroll;

		&::before {
			content: "";
			display: block;
			position: fixed;
			top: 0;
			bottom: 0;
			left: -100%;
			width: 100%;
			height: 100%;
			background-color: var(--pal-sidebar);
		}
	}
}
