:root {
	--pal-primary: #4f5b93;
	--pal-bg: color-mix(in srgb, var(--pal-primary) 20%, #f2f2f2);
	--pal-bg--active: color-mix(in srgb, var(--pal-primary) 20%, #e4e4e4);
	--pal-page: #ffffff;
	--pal-text: #333333;
	--pal-link: #336699;
	--pal-link--hover: #793862;

	--pal-button: color-mix(in srgb, var(--pal-primary) 10%, #fff);
	--pal-button--text: var(--pal-bg);
	--pal-button--hover: color-mix(in srgb, var(--pal-primary) 15%, #fff);
	--pal-button--active: color-mix(in srgb, var(--pal-primary) 50%, #fff);
	--pal-button--selected: color-mix(in srgb, var(--pal-primary) 25%, #fff);

	--pal-sidebar: color-mix(in srgb, var(--pal-primary) 10%, #fff);
}
